.modal-header {
  background-color: #49a6a5;   /* DARKEST green-grey */
  color: black;
}

.modal-title {
  text-transform: uppercase;
}

.modal-content {
  background-color: rgb(202, 226, 221);     /* MEDIUM Green-gray*/
}

.modal-dialog {
  max-width: 75%;
}

.modal-btn {
  background-color: #49a6a5;   /* DARKER green-grey */
}

#ingredient-options {
  flex-wrap: wrap;
  height: 450px;
  overflow-y: auto;
}

#selected-title {
  font-size: 26px;
  text-align: center;
}

.selected-item {  
  background-color: #49a6a5;   /* LIGHT green-grey */
  color: black;
  text-transform: uppercase;
}

/* Styling for ingredient inside frame */
.ingredient-frame {
  background-color: #49a6a5;   /* DARKER green-grey */
  height: 120px;
  width: 120px;
}

.ingredient-option-image {
  width:  60%;
  height: 60%;
  display: block;
  margin: auto;
  padding-bottom: 1.0em;
}

.ingredient-name {
  color: black;
  text-transform: uppercase;
  margin-bottom: 5px;
  position: relative;
  bottom: 50%;
}

.instructions {
  background-color: #49a6a5;   /* DARKER green-grey */
  border-radius: 5px;
  font-size: 18px;
}

#new-ingredient-input {
  background-color: rgba(203, 206, 203, 0.678);
}

.close {
  color: black;
}

.list-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
}