 body {
  background-image:url(../assets/images/bb-recipe-ia-hero.png);
 }

.container-fluid {
  padding: 10px 60px;
}

.main-style {
  background-color: rgb(187,209,26);
}

.main-button {
  background-color: rgb(98, 109, 15);
  color: white;
  border: none;
  margin-left: 8px;
  margin-right: 8px;
}

.main-header {
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
  font-weight: normal;
  font-size: 2em;
}

.main-box-style {
  background-color: rgb(187,209,26);
  min-height: 400px;
}

.main-new-ingredient {
  position: relative;
  bottom: 10px;
}

#main-selected-list {
  width: 40%;
}