body {
  background-image: url(../images/table-2777180_960_720.jpg);
  background-size: cover;
}

.container-fluid {
  padding: 20px 60px;
  width: 94%;
}

.main-style {
  background-color: #eeeeee;
  opacity: 0.95;
}

.main-button,
.main-item-button {
  background-color: #49a6a5;
  color: black;
  border: none;
}

.main-item-background {
  background-color: #49a6a5;
  margin: 3px;
  border-radius: 5%;
}

.main-header {
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
  font-weight: normal;
  font-size: 1.5em;
}

.main-box-style {
  background-color: #eeeeee;
  opacity: 0.95;
}

#main-selected-box {
  height: 400px;
}

#main-get-recipes {
  height: 50px;
}

.main-new-ingredient {
  position: relative;
  bottom: 10px;
}

#main-selected-list {
  width: 70%;
  height: 400px;
}

.recipe-card {
  width: 300px;
  height: 300px;
  margin: 10px;
  float: left;
}

#main-recipe-options {
  height: 400px;

}
.card-text {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
